body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    background: #F1F1F1;
    color: #191919;
}

/* sticky footer */

html, body, div#container { height: 100%; }

div.exclude_footer {
    min-height: 100%;
    height: auto;
}

div#main {
    width: 100%;
    overflow: hidden;
    padding-bottom: 125px;
}

footer {
    position: relative;
    margin-top: -125px;
    height: 125px;
    clear:both;
}

/* End sticky footer */